<!-- Type 1 -->
<style type="text/css">
  <%if (checked == false){%>
    .<%= name%>{
      background-color: <%= backgroundColor%>;
    }
  <%} else if(checked == true){%>
    .<%= name%>{
      background-image: url('images/<%= achtergrondafbeelding%>');
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center; 
      background-size: cover; 
    }
    .overlay.<%= name%> {
      background: rgba(0,0,0,0.6); 
      overflow: hidden; 
      height: 100%; 
      z-index: 2; 
    }
  <%}%>
      
      

  .<%= name%> h1 {
    color: <%= titelColor%>;
  }
  .<%= name%> .info {
    color:  <%= tekstColor%> !important;
  }
</style>

<div class="blok <%= name%>">
  <div class = "overlay <%= name%>">
    <div class="tekst center" >
      <h1><%= title%></h1>
      <div class="">
        <div class="info" style="width: 100%; text-align: center;">
          <div w3-include-html="../../data/blokken/HTML/<%= html%>.html"></div>
        </div>
      </div>
    </div>
  </div>
</div>