<!-- Type 1 -->
<style type="text/css">
  <%if (checked == false){%>
    .<%= html%>{
      background-color: <%= backgroundColor%>;
    }
  <%} else if(checked == true){%>
    .<%= html%>{
      background-image: url('images/<%= achtergrondafbeelding%>');
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center; 
      background-size: cover; 
    }
    .overlay.<%= html%> {
      background: rgba(0,0,0,0.6); 
      overflow: hidden; 
      height: 100%; 
      z-index: 2; 
    }
  <%}%>
      
      
  .<%= html%> h1 {
    color: <%= titelColor%>;
  }
  .<%= html%> .tekst {
    color: <%= tekstColor%>;
  }
</style>

<div class="blok <%= html%>">
  <div class = "overlay <%= html%>">
    <div class="afbeeldingEnTekst center" >
      <h1 class="col-12"><%= title%></h1>
      <div class="braka">
        <div class="tekst">
          <div w3-include-html="../../data/blokken/HTML/<%= html%>.html"></div>
        </div>
        <div class="afbeelding">
          <img src="/images/<%= afbeelding%>">
        </div>

      </div>
    </div>
  </div>
</div>
