<!DOCTYPE html>
<html>
<head>
    <title>Blokken</title>
    <link rel='stylesheet' href='/stylesheets/css/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script type="text/javascript" src="../javascripts/tinymce/tinymce.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">

</head>
<style>
    header{
        background-image: url("/images/");
    }
</style>
<body>
<%- include('partials/backendNav') %>


    <div class="containerBackEnd">
      <div class="left col-2">
          <div class="nav">
              <ul>
                  <li><a href="#">Nieuwe blok</a></li>
                  <li><a href="#">Documentatie</a></li>
                  <li><a href="">Afbeelding en tekst</a></li>
              </ul>
          </div>
      </div>
      <div class="right col-10">
        <div class="blokken col-12">
          <% if(type == "afbeeldingEnTekst"){%>
        	<form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="name">
              <label>Naam blok:</label> 
              <input class="textfield" type="text" name="name" value="<%= blok.name%>" id="name">
            </div>

            <div class="box title">
              <label>Titel</label> 
              <input class="textfield" type="text" name="title" value="<%= blok.titel%>">
            </div>

            <div class="box tekst">
              <label>Tekst</label>
              <textarea name="text" id="myTextarea"></textarea>
            </div>
         
            <div class="imageFile box">
              <span style="display: block; margin-bottom: 10px">Afbeelding</span>
              <span>File</span>
              <input name="myImage" type="file" >
               <img src="<%= typeof file != 'undefined' ? file : '' %>" class="image">
            </div>

            <div class="box layout">
              <label>Lay-out</label>
              <div>
                <label>Achtergrondkleur (blok)</label>
                <input name="test" type='color' id="color" />
                <input class="textfield" type="text" name="backgroundcolor" value="<%= blok.backgroundColor%>" id="colorText">
              </div>

              <div>
                <label>Kleur titel</label>
                <input name="test" type='color' id="titelColor" />
                <input class="textfield" type="text" name="titelcolor" value="<%= blok.titelColor%>" id="titelColorText">
              </div>
              <div>
                <label>Kleur tekst</label>
                <input name="test" type='color' id="tekstColor" />
                <input class="textfield" type="text" name="tekstcolor" value="<%= blok.tekstColor%>" id="tekstColorText">
              </div>
            </div>
              <input type="text" name="blokType" value="afbeelingEnTekst" style="display: none">
            <button type="submit" class="btn">Opslaan</button>
              
          </form>
          <%} else if(type == "tekst"){%>
  
          <form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="name">
              <label>Naam blok:</label> 
              <input class="textfield" type="text" name="name" value="<%= blok.name%>" id="name">
            </div>

            <div class="box title">
              <label>Titel</label> 
              <input class="textfield" type="text" name="title" value="<%= blok.titel%>">
            </div>

            <div class="box tekst">
              <label>Tekst</label>
              <textarea name="text" id="myTextarea" value="<%= blok.tekst%>"></textarea>
            </div>

            <div class="box layout">
              <label>Lay-out</label>
              <div>
                <label>Achtergrondkleur (blok)</label>
                <input name="test" type='color' id="color" />
                <input class="textfield" type="text" name="backgroundcolor" value="<%= blok.backgroundColor%>" id="colorText">
              </div>

              <div>
                <label>Kleur titel</label>
                <input name="test" type='color' id="titelColor" />
                <input class="textfield" type="text" name="titelcolor" value="<%= blok.titelColor%>" id="titelColorText">
              </div>

                <label>Kleur tekst</label>
                <input name="test" type='color' id="tekstColor" />
                <input class="textfield" type="text" name="tekstcolor" value="<%= blok.tekstColor%>" id="tekstColorText">
              </div>

              <input type="text" name="blokType" value="afbeelingEnTekst" style="display: none">
            <button type="submit" class="btn">Opslaan</button>
            </div>  
          </form>
          <%}%>
          
        </div>

        

        
      </div>
    </div>
     <script src='../javascripts/jquery.min.js'></script>
    <script src='../javascripts/spectrum.js'></script>
    <script type="text/javascript">
      var html = "<%= html %>";
      $('#myTextarea').html(html);
        tinymce.init({
            selector: '#myTextarea',
            

        });

        

        $(document).ready(function(){
   
       $('#color').spectrum({
         color: '#fff',
         showAlpha: true,showInput: true,
        
         move: function(color){
            //$('#colorText').css('background-color',color.toRgbString());  
           $('#colorText').val(color.toHexString());

          }
        
          });

       $('#titelColor').spectrum({
         color: '#323232',
         showAlpha: true,showInput: true,
        
         move: function(color){
            //$('#colorText').css('background-color',color.toRgbString());  
           $('#titelColorText').val(color.toHexString());

          }
        
          });
       $('#tekstColor').spectrum({
         color: '#323232',
         showAlpha: true,showInput: true,
        
         move: function(color){
            //$('#colorText').css('background-color',color.toRgbString());  
           $('#tekstColorText').val(color.toHexString());

          }
        
          });
      });
    </script>
  </body>
  </html>
