<div class="blok <%= %>">
  <div class = "overlay">
    <div class="afbeeldingEnTekst center" >
      <h1 class="col-12"><%= blok.blokTitel%></h1>
      <% for(var i=0; i < blok.kolomen.length; i++){%>
      <div class="col-4 col-ts-6 col-ss-12">
        <div style="padding-bottom: 30px; border-bottom: 0 none; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46); margin-bottom: 20px;">
          <div style="height: 200px; width: 100%; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; background-image:url(images/<%= blok.kolomen[i].afbeelding%>);"></div>
          <p  style="text-align: center; font-weight: bold; font-size: 20px; padding: 0px 20px; margin-top: 25px;"><%= blok.kolomen[i].titel%></p>
          <div style="padding: 0px 25px; text-align: center; margin-top: 20px" w3-include-html="../../data/blokken/HTML/<%= blok.name.replace(/\s/g,'')%>/<%= blok.kolomen[i].beschrijving%>.html"></div>
        </div>
        
      </div>
      <%}%>
    </div>
  </div>
</div>
