<!DOCTYPE html>
<html>
<head>
    <title>Blokken</title>
    <link rel='stylesheet' href='/stylesheets/css/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script type="text/javascript" src="javascripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: '#myTextarea'
        });
    </script>
</head>
<style>
    header{
        background-image: url("/images/");
    }

</style>
<body>
<%- include('partials/backendNav') %>


    <div class="containerBackEnd">
      <div class="left col-2">
          <%- include('partials/smartNav') %>
      </div>
      <div class="right col-10">
        <h1>Media</h1>
        <div class="media">
          <%= typeof msg != 'undefined' ? msg : '' %>
          <form action="/uploadImage" method="POST" enctype="multipart/form-data">
         
         
            <div class="imageFile box">
              <span style="display: block; margin-bottom: 10px">Upload afbeelding</span>
              <span>File</span>
              <input name="myImage" type="file" >
               <img src="<%= typeof file != 'undefined' ? file : '' %>" class="image">

               <button>Opslaan</button>
            </div>

           

            
            
          </form>
        <% for (var i = 0; i < images.length; i ++) {%>
          
          <div class="imageBox">
            <div class="img" style="background-image:url(images/<%= images[i]%>);"></div>
       
            <a href="./deleteImg/<%= images[i]%>"><i class="fas fa-trash-alt trash"></i></a>
          </div>
          



          
        <%}%>
        </div>

        

      </div>
    </div>

    <script src='javascripts/jquery.min.js'></script>
    <script type="text/javascript">
      $(function() {
// OPACITY OF BUTTON SET TO 0%
$(".roll").css("opacity","0");
 
// ON MOUSE OVER
$(".roll").hover(function () {
 
// SET OPACITY TO 70%
$(this).stop().animate({
opacity: .7
}, "fast");
},
              
 
// ON MOUSE OUT
function () {
 
// SET OPACITY BACK TO 50%
$(this).stop().animate({
opacity: 0
}, "slow");
});
});
    </script>
  </body>
  </html>
