<!DOCTYPE html>
<html>
<head>
    <title>New blok</title>
    <link rel='stylesheet' href='/stylesheets/css/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">
    
<% if (tweedeTest === "nieuw"){%>
<link rel='stylesheet' href='stylesheets/spectrum.css' />
<%} if (tweedeTest === "herwerk") {%>
<link rel='stylesheet' href='../stylesheets/spectrum.css' />
<%}%>



</head>
<style>
  .err {
    display: block;
    color: red;
  }
  .kolomForm .kolom {
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    padding: 15px;
     margin-bottom: 20px;

  }
  .kolomForm .kolom input {
    display: block;
    width: 100%;

  }
  .form:after{
    clear: both;
    content: "";
    display: block;
}

</style>
<body>
<%- include('partials/backendNav') %>

<div class="containerBackEnd">
  <div class="left col-2">
    <%- include('partials/smartNav') %>
  </div>
  <div class="right col-10">    
    <!-- Afbeelding en tekst formulier -->
    <% if (test === "afbeeldingEnTekst"){%>
    <h2>Nieuwe blok: <%= test%></h2>
    <div class="nieuwType1">
      <form name="afbeeldingEnTekstForm" class="afbeelingEnTekst" action="/makeAfbeeldingEnTekst" method="POST" onsubmit="return validateAfbeeldingEnTekst()">
        <div class="name">
          <label>Naam blok:</label>
          <input class="textfield" type="text" name="naam" value="<% if(blok !== 'undefined'){ %><%= blok.name%><% }else{ %><% } %>" id="name">
          <span class="err" id="errNaam"></span>
        </div>

        <div class="box title">
          <label>Titel</label> 
          <input class="textfield" type="text" name="titel" value="<% if(blok !== 'undefined'){ %><%= blok.titel%><% }else{ %><% } %>">
        </div>

        <div class="box tekst">
          <label>Tekst</label>
          <textarea name="text" id="myTextarea" style="height: 250px;"></textarea>
        </div>
         
        <div class="imageFile box">
          <span style="display: block; margin-bottom: 10px">Afbeelding</span>
          <span>File</span>
          <span class="err" id="errAfbeelding"></span>
          <input type="text" name="afbeelding1" id = "afbeelding1" value="<% if(blok !== 'undefined'){ %><%= blok.afbeelding%><% }else{ %><% } %>">
          <a onclick="getAfbeelding(this.id)" id="afbeelding1" class="openImages">Afbeeldingen</a>
          <img id="myImg" src="">      
        </div>

        <div class="box layout">
          <label>Lay-out</label>
          <div class="onderverdeling">
            <label>Achtergrond</label>
            <label>
              <input name = "checkbox" type="checkbox" id="checkbox" />Afbeelding
            </label>
            <div class="kleur" id="kleur">
              <input name="test" type='color' id="color" />
              <input class="textfield" type="text" name="backgroundcolor" value="<%= backgroundcolor%>" id="colorText">
            </div>

            <div class="imageFile box" id = "afbeeldingVeld">
              <span style="display: block; margin-bottom: 10px">Afbeelding</span>
              <span>File</span>
              <span class="err" id="errAfbeelding"></span>
              <input type="text" name="afbeelding2" id = "afbeelding2" value="<% if(blok !== 'undefined'){ %><%= blok.achtergrondafbeelding%><% }else{ %><% } %>">
              <a onclick="getAfbeelding(this.id)" id="afbeelding2" class="openImages">Afbeeldingen</a>
              <img id="myImg" src="">      
            </div>
            
          </div>

          <div class="onderverdeling">
            <label>Kleur titel</label>
            <input name="test" type='color' id="titelColor" />
            <input class="textfield" type="text" name="titelcolor" value="<%= titelcolor%>" id="titelColorText">
          </div>

          <div class="onderverdeling">
            <label>Kleur tekst</label>
            <input name="test" type='color' id="tekstColor" />
            <input class="textfield" type="text" name="tekstcolor" value="<%= tekstcolor%>" id="tekstColorText">
          </div>  
        </div>

        <input type="text" name="blokType" value="afbeelingEnTekst" style="display: none">
        <input type="text" name="nieuw" value="<%= nieuw%>" style="display: none">
        <input type="text" name="ID" value="<% if(blok !== 'undefined'){ %><%= blok.id%><% }else{ %><% } %>" style="display: none">
        <button type="submit" class="btn">Opslaan</button>
      </form>
      
    </div>     
    <%}%>

    <% if (test === "tekst"){%>
    <h2>Nieuwe blok: <%= test%></h2>
    <div class="nieuwType1">
      <form name="tekstForm" class="tesktBlok" action="/makeTekst" method="POST" onsubmit="return validateTekst()">
        <div class="name">
          <label>Naam blok:</label> 
          <input class="textfield" type="text" name="naam" value="<% if(blok !== 'undefined'){ %><%= blok.name%><% }else{ %><% } %>" id="name">
          <span class="err" id="errNaam"></span>
        </div>

        <div class="box title">
          <label>Titel</label> 
          <input class="textfield" type="text" name="titel" value="<% if(blok !== 'undefined'){ %><%= blok.titel%><% }else{ %><% } %>">
        </div>

        <div class="box tekst">
          <label>Tekst</label>
          <textarea name="text" id="myTextarea"></textarea>
        </div>

        <div class="box layout">
          <label>Lay-out</label>
          <div class="onderverdeling">
            <label>Achtergrond</label>
            <label>
              <input name = "checkbox" type="checkbox" id="checkbox" />Afbeelding
            </label>
            <div class="kleur" id="kleur">
              <input name="test" type='color' id="color" />
              <input class="textfield" type="text" name="backgroundcolor" value="<%= backgroundcolor%>" id="colorText">
            </div>
            <div class="imageFile box" id = "afbeeldingVeld">
              <span style="display: block; margin-bottom: 10px">Afbeelding</span>
              <span>File</span>
              <span class="err" id="errAfbeelding"></span>
              <input type="text" name="afbeelding1" id = "afbeelding1" value="<% if(blok !== 'undefined'){ %><%= blok.backgroundImage%><% }else{ %><% } %>">
              <a onclick="getAfbeelding(this.id)" id="afbeelding1" class="openImages">Afbeeldingen</a>
              <img id="myImg" src="">      
            </div>
          </div>

          <div class="onderverdeling">
            <label>Kleur titel</label>
            <input name="test" type='color' id="titelColor" />
            <input class="textfield" type="text" name="titelcolor" value="<%= titelcolor%>" id="titelColorText">
          </div>

          <div class="onderverdeling">
            <label>Kleur tekst</label>
            <input name="test" type='color' id="tekstColor" />
            <input class="textfield" type="text" name="tekstcolor" value="<%= tekstcolor%>" id="tekstColorText">
          </div>
        </div>

        <input type="text" name="blokType" value="tekst" style="display: none">
        <input type="text" name="nieuw" value="<%= nieuw%>" style="display: none">
        <input type="text" name="ID" value="<% if(blok !== 'undefined'){ %><%= blok.id%><% }else{ %><% } %>" style="display: none">
        <button type="submit" class="btn">Opslaan</button>        
      </form>                   
    </div>
    <%}%>

    <% if (test === "contact"){%>
    <h2>Nieuwe blok: <%= test%></h2>
    <div class="nieuwType1">
      <form name="contactForm" class="contact" action="/makeContact" method="POST" onsubmit="return validateContact()">
        <div class="name">
          <label>Naam blok:</label>  
          <input class="textfield" type="text" name="naam" value="<% if(blok !== 'undefined'){ %><%= blok.name%><% }else{ %><% } %>" id="name">
          <span class="err" id="errNaam"></span>
        </div>

        <div class="box title">
          <label>Titel</label> 
          <input class="textfield" type="text" name="titel" value="<% if(blok !== 'undefined'){ %><%= blok.titel%><% }else{ %><% } %>">
        </div>

        <div class="box title">
          <label>Contact gegevens</label>
          <label>Gsm nummer</label>
          <span class="err" id="errGsm"></span>
          <input class="textfield" type="text" name="gsmNr" value="<% if(blok !== 'undefined'){ %><%= blok.gsmNr%><% }else{ %><% } %>">

          <label>Telefoon nummer</label>
          <input class="textfield" type="text" name="telNr" value="<% if(blok !== 'undefined'){ %><%= blok.telNr%><% }else{ %><% } %>">

          <label>Adres</label> 
          <span class="err" id="errAdres"></span>
          <input class="textfield" type="text" name="adres" value="<% if(blok !== 'undefined'){ %><%= blok.adres%><% }else{ %><% } %>">

          <label>Email adres</label> 
          <span class="err" id="errEmailAdres"></span>
          <input class="textfield" type="text" name="emailAdres" value="<% if(blok !== 'undefined'){ %><%= blok.emailAdres%><% }else{ %><% } %>">
        </div>

 
        <div class="box layout">
          <label>Lay-out</label>
          <div class="onderverdeling">
            <label>Achtergrondkleur (blok)</label>
            <input name="test" type='color' id="color" />
            <input class="textfield" type="text" name="backgroundcolor" value="<%= backgroundcolor%>" id="colorText">
          </div>

          <div class="onderverdeling">
            <label>Kleur titel</label>
            <input name="test" type='color' id="titelColor" />
            <input class="textfield" type="text" name="titelcolor" value="<%= titelcolor%>" id="titelColorText">
          </div>

          <div class="onderverdeling">
            <label>Kleur tekst</label>
            <input name="test" type='color' id="tekstColor" />
            <input class="textfield" type="text" name="tekstcolor" value="<%= tekstcolor%>" id="tekstColorText">
          </div>
        </div>

      
        <button type="submit" class="btn">Opslaan</button>
        <input type="text" name="nieuw" value="<%= nieuw%>" style="display: none">
        <input type="text" name="ID" value="<% if(blok !== 'undefined'){ %><%= blok.id%><% }else{ %><% } %>" style="display: none">        
      </form>                   
    </div>
    <%}%>
    <% if (test === "kolom"){%>
    <h2 class="col-12">Nieuwe blok: <%= test%></h2>
    <div class="nieuwType1 kolomBlok">
      <form name="kolomForm" id = "" class="kolomForm" action="/makeKolom" method="POST" onsubmit="return validateColum()">
      <div id="kolomForm" class="form">
        <div class="col-12">
          <label>Naam blok: </label><input style="display: block;" type="text" name="naam">
          <label>Titel</label>
          <input type="text" name="titelBlok" style="display: block; margin-bottom: 20px;">
        </div>
        
        <div class="col-4">
          <div class="kolom" style="padding: 30px 20px 20px 20px;">
            <label>Titel</label>
            <input type="text" name="titel">
            <label>Beschrijving</label>
            <textarea style="width: 100%; min-height: 100px;" name="beschrijving"></textarea>
            <label>Afbeelding</label>
            <input type="text" name="afbeelding" id="kolom1">
            <a onclick="getAfbeelding(this.id)" id="kolom1" class="1" style="padding: 10px 20px; background-color: black; color: white; margin-top: 20px; display: inline-block;">Afbeelding</a>
          </div> 
        </div>

        <div class="col-4">
          <div class="kolom" style="padding: 30px 20px 20px 20px;">
            <label>Titel</label>
            <input type="text" name="titel">
            <label>Beschrijving</label>
            <textarea style="width: 100%; min-height: 100px;" name="beschrijving"></textarea>
            <label>Afbeelding</label>
            <input type="text" name="afbeelding" id="kolom2">
            <a onclick="getAfbeelding(this.id)" id="kolom2" class="1" style="padding: 10px 20px; background-color: black; color: white; margin-top: 20px; display: inline-block;">Afbeelding</a>
          </div> 
        </div>

       



      
      </div>
      <div class="col-12">
        <a  style = "display: inline-block; background-color: black; color: white; padding: 10px 20px; cursor: pointer; margin-bottom: 10px;" id="btnAddtoList">Extra kolom</a>
        <input type="text" name="nieuw" value="<%= nieuw%>" style="display: none">
        <input type="text" name="ID" value="<% if(blok !== 'undefined'){ %><%= blok.id%><% }else{ %><% } %>" style="display: none"> 
        <button style="display: block;" class="">Opslaan</button>
      </div>
      
    </form> 
    </div>     
    <%}%>
    
    <div id="myModal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
              <a onclick="close()" class="close">&times;</a>
              <% var id = 1%>
              <% for (var i = 0; i < images.length; i ++) {%>
              <div  class="imageBox" id = "imageBox">
                <% if (nieuw === "true") {%>
                <div onclick="setAfbeelding(this.id)" class="img" id = "<%= id%>"  style="background-image:url(images/<%= images[i]%>);" value="ok" >
                  <%} else {%>
                  <div onclick="setAfbeelding(this.id)" class="img" id = "<%= id%>"  style="background-image:url(../images/<%= images[i]%>);" value="ok" >
                  <%}%>
                </div>
              </div>
              <% id += 1 %>
              <%}%>
          </div>
    </div>
  </div>

<% if (tweedeTest === "nieuw"){%>
<script type="text/javascript" src="javascripts/tinymce/tinymce.min.js"></script>
<script src='javascripts/validateForm.js'></script>
<script src='javascripts/validate.js'></script>
<script src='javascripts/jquery.min.js'></script>
<script src='javascripts/spectrum.js'></script>
<script src='javascripts/modal.js'></script>

<%} if (tweedeTest === "herwerk") {%>
<script type="text/javascript" src="../javascripts/tinymce/tinymce.min.js"></script>
<script src='../javascripts/validateForm.js'></script>
<script src='../javascripts/validate.js'></script>
<script src='../javascripts/jquery.min.js'></script>
<script src='../javascripts/spectrum.js'></script>
<script src='../javascripts/modal.js'></script>

<%}%>
</div>  

<script type="text/javascript">
  
      var nieuw = "<%= nieuw%>";

      var blokkenArray = <%- JSON.stringify(blokkenArray) %>;
      // Get the modal
      var html = "<%= html %>";
      var checked = "<%= blok.checked%>";

      if (html !== "undefined") {
        $('#myTextarea').html(html);
      }
      
      tinymce.init({
          selector: '#myTextarea',
            

        });
      

       $(document).ready(function(){
        
       $('#color').spectrum({
         color: '#fff',
         showAlpha: true,showInput: true,
        
         move: function(color){
            //$('#colorText').css('background-color',color.toRgbString());  
           $('#colorText').val(color.toHexString());

          }
        
          });

       $('#titelColor').spectrum({
         color: '#323232',
         showAlpha: true,showInput: true,
        
         move: function(color){
            //$('#colorText').css('background-color',color.toRgbString());  
           $('#titelColorText').val(color.toHexString());

          }
        
          });
       $('#tekstColor').spectrum({
         color: '#323232',
         showAlpha: true,showInput: true,
        
         move: function(color){
            //$('#colorText').css('background-color',color.toRgbString());  
           $('#tekstColorText').val(color.toHexString());

          }
        
          });
      });
       $(function() {
        
        

$('#btnAddtoList').click(function(){
  var id = element.getElementsByClassName('kolom').length + 1;

  var nieuweKlasse = "kolom" + id;
  var newDiv = $('<div class="col-4"><div class="kolom" style="padding: 30px 20px 20px 20px;"><label>Titel</label><input type="text" name="titel"><label>Beschrijving</label><textarea style="width: 100%; min-height: 100px;" name="beschrijving"></textarea><label>Afbeelding</label><input type="text" name="afbeelding" id="'+nieuweKlasse+'"><a onclick="getAfbeelding(this.id)" id="'+nieuweKlasse+'" class="1" style="padding: 10px 20px; background-color: black; color: white; margin-top: 20px; display: inline-block;">Afbeelding</a></div></div>');
  //newDiv.style.background = "#000";
  $('#kolomForm').append(newDiv);
});
});
      

    </script>
    <% if (tweedeTest === "nieuw"){%>

<script src='javascripts/checkbox.js'></script>
<%} if (tweedeTest === "herwerk") {%>

<script src='../javascripts/checkbox.js'></script>
<%}%>
  </body>
  </html>


